<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find mrp2_description)/urdf/deg_to_rad.xacro"/>

  <xacro:include filename="$(find mrp2_description)/urdf/wheels/wheel.right.urdf.xacro"/>
  <xacro:include filename="$(find mrp2_description)/urdf/wheels/wheel.left.urdf.xacro"/>
  <xacro:include filename="$(find mrp2_description)/urdf/wheels/75mm.caster.urdf.xacro"/>

  <xacro:include filename="$(find mrp2_description)/urdf/sensors/hokuyo_utm_30lx_laser.urdf.xacro"/>
  <xacro:include filename="$(find mrp2_description)/urdf/sensors/imu.urdf.xacro"/>
  <xacro:include filename="$(find mrp2_description)/urdf/sensors/sonar.urdf.xacro"/>

  <!-- Wheel characteristics -->
  <property name="wheel_radius"     value="0.100"/>
  <property name="wheel_width"      value="0.001"/>
  <property name="wheel_separation" value="0.478"/>
  <property name="wheel_torque"     value="5.0"/>
  <property name="wheel_velocity"   value="2.0"/>


  <!-- Caster wheel characteristics -->
  <property name="caster_radius"       value="0.0375"/>
  <property name="caster_width"        value="0.020"/>
  <property name="caster_separation_x" value="0.426"/>
  <property name="caster_separation_y" value="0.282"/>
  <property name="caster_offset_x"     value="-0.002"/>
  <property name="caster_offset_y"     value="0.0"/>
  <property name="caster_offset_z"     value="0.075"/>

  <!-- Laser characteristics -->
  <property name="base_laser_x" value="0.239"/>
  <property name="base_laser_y" value="0.0"/>
  <property name="base_laser_z" value="0.2581"/>

  <xacro:macro name="base" params="name">

    <!-- Base -->
    <link name="${name}_link">
      <inertial>
      <origin
        xyz="0.0 0.0 0.0"
        rpy="0 0 0" />
      <mass
        value="23.75049" />
      <inertia
        ixx="1.40843"
        ixy="-0.00047"
        ixz="-0.01284"
        iyy="1.69950"
        iyz="0.00099"
        izz="1.30459" />
    </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://mrp2_description/meshes/base_link_fp.stl" />
        </geometry>
        <material name="SkyBlue" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://mrp2_description/meshes/base_link_fp.stl" />
        </geometry>
      </collision>
    </link>
    <gazebo reference="${name}_link">
      <material>Gazebo/White</material>
    </gazebo>

        <!-- Base footprint -->
    <link name="${name}_footprint"/>

    <joint name="${name}_footprint_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <child link="${name}_link" />
      <parent link="${name}_footprint"/>
    </joint>

    <xacro:hokuyo_utm_30lx_laser name="${name}_laser" parent="${name}" ros_topic="scan" update_rate="10" min_angle="${-135 * deg_to_rad}" max_angle="${135 * deg_to_rad}" >
      <origin xyz="${base_laser_x} ${base_laser_y} ${base_laser_z}" rpy="0 0 0" />
    </xacro:hokuyo_utm_30lx_laser>


    <!-- IMU -->
    <xacro:imu_sensor name="${name}_imu" parent="${name}_link" update_rate="50.0">
      <origin xyz="0.200 0 0.200" rpy="0 ${0 * deg_to_rad} ${0 * deg_to_rad}"/>
    </xacro:imu_sensor>

    <!-- Wheels -->

    <xacro:wheel_right side="right" reflect="-1.0" radius="${wheel_radius}" width="${wheel_width}" torque="${wheel_torque}" velocity="${wheel_velocity}" separation="${wheel_separation}" parent="${name}"/>
    <xacro:wheel_left side="left"  reflect="1.0" radius="${wheel_radius}" width="${wheel_width}" torque="${wheel_torque}" velocity="${wheel_velocity}" separation="${wheel_separation}" parent="${name}"/>

    <!-- Casters wheels -->

    <xacro:caster side="front_left" radius="${caster_radius}" width="${caster_width}" position_x="0.213" position_y="0.141" position_z="0.0971" offset_x="-0.030" offset_y="0" offset_z="-0.0596" parent="${name}"/>
    <xacro:caster side="front_right" radius="${caster_radius}" width="${caster_width}" position_x="0.213" position_y="-0.141" position_z="0.0971" offset_x="-0.030" offset_y="0" offset_z="-0.0596" parent="${name}"/>
    <xacro:caster side="back_left" radius="${caster_radius}" width="${caster_width}" position_x="-0.213" position_y="0.141" position_z="0.0971" offset_x="-0.030" offset_y="0" offset_z="-0.0596" parent="${name}"/>
    <xacro:caster side="back_right" radius="${caster_radius}" width="${caster_width}" position_x="-0.213" position_y="-0.141" position_z="0.0971" offset_x="-0.030" offset_y="0" offset_z="-0.0596" parent="${name}"/>

    <!-- Sonar sensors -->
    <xacro:sonar_sensor name="${name}_sonar_1" parent="${name}" ros_topic="sonar_1" update_rate="20" maxRange="4.0" minRange="0.01" fov="${35 * deg_to_rad}" radiation="ultrasound">
      <origin xyz="0.2688 0.17956 0.06155" rpy="0 0 ${30 * deg_to_rad}"/>
    </xacro:sonar_sensor>
    <xacro:sonar_sensor name="${name}_sonar_2" parent="${name}" ros_topic="sonar_2" update_rate="20" maxRange="4.0" minRange="0.01" fov="${35 * deg_to_rad}" radiation="ultrasound">
      <origin xyz="0.28947 0.09241 0.06155" rpy="0 0 ${12 * deg_to_rad}"/>
    </xacro:sonar_sensor>
    <xacro:sonar_sensor name="${name}_sonar_3" parent="${name}" ros_topic="sonar_3" update_rate="20" maxRange="4.0" minRange="0.01" fov="${35 * deg_to_rad}" radiation="ultrasound">
      <origin xyz="0.29671 0.0 0.06155" rpy="0 0 ${0 * deg_to_rad}"/>
    </xacro:sonar_sensor>
    <xacro:sonar_sensor name="${name}_sonar_4" parent="${name}" ros_topic="sonar_4" update_rate="20" maxRange="4.0" minRange="0.01" fov="${35 * deg_to_rad}" radiation="ultrasound">
      <origin xyz="0.28947 -0.09241 0.06155" rpy="0 0 ${-12 * deg_to_rad}"/>
    </xacro:sonar_sensor>
    <xacro:sonar_sensor name="${name}_sonar_5" parent="${name}" ros_topic="sonar_5" update_rate="20" maxRange="4.0" minRange="0.01" fov="${35 * deg_to_rad}" radiation="ultrasound">
      <origin xyz="0.2688 -0.17956 0.06155" rpy="0 0 ${-30 * deg_to_rad}"/>
    </xacro:sonar_sensor>
    <xacro:sonar_sensor name="${name}_sonar_6" parent="${name}" ros_topic="sonar_6" update_rate="20" maxRange="4.0" minRange="0.01" fov="${35 * deg_to_rad}" radiation="ultrasound">
      <origin xyz="-0.25648 -0.10103 0.28155" rpy="0 0 ${180 * deg_to_rad}"/>
    </xacro:sonar_sensor>
    <xacro:sonar_sensor name="${name}_sonar_7" parent="${name}" ros_topic="sonar_7" update_rate="20" maxRange="4.0" minRange="0.01" fov="${35 * deg_to_rad}" radiation="ultrasound">
      <origin xyz="-0.25648 0.10103 0.28155" rpy="0 0 ${180 * deg_to_rad}"/>
    </xacro:sonar_sensor>

  </xacro:macro>

</robot>
