<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="caster_transmission" params="name side number reduction" >
    <transmission name="${name}_${side}_${number}_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <actuator name="${name}_${side}_${number}_motor" >
        <mechanicalReduction>${reduction}</mechanicalReduction>
      </actuator>
      <joint name="${name}_${side}_${number}_joint" >
        <hardwareInterface>hardware_interface/JointStateInterface</hardwareInterface>
      </joint>
    </transmission>
  </xacro:macro>
</robot>
