<launch>
  <rosparam command="load" file="$(find mrp2_control)/config/controls.yaml" />

  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="mrp2_joint_publisher mobile_base_controller --shutdown-timeout 1" />
  
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" /> 
</launch>

