<?xml version="1.0"?>

<model>
  <name>MRP2</name>
  <version>1.0</version>
  <sdf version="1.4">mrp2.sdf</sdf>

  <author>
    <name>Akif Hacinecipoglu</name>
    <email>akifhno@gmail.com</email>
  </author>
  
  <license>Creative Commons Attribution 3.0 Unported</license>

  <description>
    MRP 2 Robot by Milvus Tech.
  </description>
</model>
