<launch>

  <!-- Run the map server -->

 <arg name="map_file" default="$(find mrp2_navigation)/maps/milvus_office.yaml"/>

 <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--- Run AMCL -->
 <include file="$(find mrp2_navigation)/launch/include/amcl.launch" />

 <!--- Call global_localization service -->
 <!--node pkg="rosservice" type="rosservice" name="global_loc" args="call --><!--wait /global_localization"/-->

  <!--- Run Move Base -->
 <include file="$(find mrp2_navigation)/launch/include/move_base.launch" />

</launch>
